<ion-view>


  <ion-content scroll="false" class="bagHomePage" padding="true">



    <input class="myButtonMap" type="image" src="templates/home/img/btn/play button.png" ui-sref="gameStoryOne"/>


    <img src="templates/home/img/Story2.gif" ui-sref="story-three" class="story2" >
    <img src="templates/home/img/Untitled-8.gif" ui-sref="story-four"  class="story3" />
    <img src="templates/home/img/Story4.gif" ui-sref="story-five" class="story4" />
    <img src="templates/home/img/melur.gif" ui-sref="story-two" class="story1" />
    <img src="templates/home/img/mawar.gif" ui-sref="story-two" class="story1-1" />
    <img src="templates/home/img/SwordFish.gif" class="SwordFishMain" />
    <img src="templates/home/img/Utama.gif" ui-sref="story-one" class="story6" />
    <img src="templates/home/img/Melion.gif" ui-sref="story-six" class="story5"/>
    <img src="templates/home/img/Ship.gif" class="ShipMain" />


	</ion-content>

</ion-view>
