<ion-view>


  <ion-content scroll="false" class="bagHomePage" padding="true">

    <img src="templates/home/img/Story2.gif" class="story2" >
    <img src="templates/home/img/Untitled-8.gif" class="story3" />
    <img src="templates/home/img/Story4.gif" class="story4" />
    <img src="templates/home/img/melur.gif"  class="story1"/>
    <img src="templates/home/img/mawar.gif" class="story1-1" />
    <img src="templates/home/img/SwordFish.gif" class="SwordFishMain" />
    <img src="templates/home/img/Utama.gif" ui-sref="story-one" class="story6" />
    <img src="templates/home/img/Melion.gif" class="story5"/>
    <img src="templates/home/img/Ship.gif" class="ShipMain" />




    <!--<div class="home-menu">-->
      <!--<div class="home-menu-button col" ui-sref="menu">-->
        <!--<div class="home-menu-tiles col button">-->
          <!--<div class="row" ng-repeat="i in [1]">-->
            <!--<div class="col tileBox" ng-repeat="i in [1]"></div>-->
          <!--</div>-->
          <!--<h3>menu</h3>-->
        <!--</div>-->
      <!--</div>-->
      <!--</div>-->


      <!--<div class="home-menu">-->
		    <!--<div class="home-menu-button col" ui-sref="story-one">-->
		    	<!--<div class="home-menu-tiles col button">-->
			    	<!--<div class="row" ng-repeat="i in [1]">-->
				    	<!--<div class="col tileBox" ng-repeat="i in [1]"></div>-->
			    	<!--</div>-->
			    	<!--<h3>Story 1</h3>-->
		    	<!--</div>-->
		    <!--</div>-->

		    <!--<div class="home-menu-button col" ui-sref="story-two">-->
		    	<!--<div class="home-menu-tiles col button">-->
			    	<!--<div class="row" ng-repeat="i in [1]">-->
				    	<!--<div class="col tileBox" ng-repeat="i in [1]"></div>-->
			    	<!--</div>-->
			    	<!--<h3>Story 2</h3>-->
		    	<!--</div>-->
		    <!--</div>-->

		    <!--<div class="home-menu-button col" ui-sref="story-three">-->
		    	<!--<div class="home-menu-tiles col button">-->
			    	<!--<div class="row" ng-repeat="i in [1]">-->
				    	<!--<div class="col tileBox" ng-repeat="i in [1]"></div>-->
			    	<!--</div>-->
			    	<!--<h3>Story 3</h3>-->
		    	<!--</div>-->
		    <!--</div>-->

      <!--<div class="home-menu-button col" ui-sref="story-four">-->
        <!--<div class="home-menu-tiles col button">-->
          <!--<div class="row" ng-repeat="i in [1]">-->
            <!--<div class="col tileBox" ng-repeat="i in [1]"></div>-->
          <!--</div>-->
          <!--<h3>Story 4</h3>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="home-menu-button col" ui-sref="story-five">-->
        <!--<div class="home-menu-tiles col button">-->
          <!--<div class="row" ng-repeat="i in [1]">-->
            <!--<div class="col tileBox" ng-repeat="i in [1]"></div>-->
          <!--</div>-->
          <!--<h3>Story 5</h3>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="home-menu-button col" ui-sref="story-six">-->
        <!--<div class="home-menu-tiles col button">-->
          <!--<div class="row" ng-repeat="i in [1]">-->
            <!--<div class="col tileBox" ng-repeat="i in [1]"></div>-->
          <!--</div>-->
          <!--<h3>Story 6</h3>-->
        <!--</div>-->
      <!--</div>-->
		<!--</div>-->

	</ion-content>

</ion-view>
