<ion-view>
    <!--<ion-content scroll="false" class="bagHomePage_R" padding="true">-->
    <div class="container">
        <div class="box_story_3">
            <form name="multiStepForm" class="form-validation" role="form" novalidate>
                <div class="animate-switch-container" ng-switch on="stage"
                     ng-class="{forward: direction, backward:!direction}">
                    <!--Story 3 - page title-->
                    <div class="animate-switch position story0_s6" ng-switch-default>
                        <div class="title_s6">
                        </div>
                        <div class="buttons0">
                            <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage1')">

                        </div>
                    </div>
                    <!--Story 6 - story1_1_s6 --- page intro-->
                    <div class="animate-switch position story1_1_s6" ng-switch-when="stage1">
                        <div class="text_frame1_s6" ng-click="tracks.audioIntro1_s6.play()">
                            <p>Singa Duyung</p>
                        </div>
                        <div class="text_frame2_s6" ng-click="tracks.audioIntro2_s6.play()">
                            <p>Si Halilintar</p>
                        </div>

                        <div class="buttons0">
                            <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('')">
                            <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage2')">
                        </div>
                    </div>

                    <!--Story 6 - story2_1_s6 ----->

                    <div class="animate-switch position story2_1_s6" ng-switch-when="stage2">
                        <div class="dialog_box">
                            <p class="dialog_box_text1">
                                “Ayuh ke pantai. Orang kita perlukan bantuan,” seru beberapa orang kampung.
                                <br>
                                “<strong style="color: red">Todak</strong> menyerang! Todak menyerang!”  Jerit orang-orang kampung.
                            </p>
                        </div>
                        <div class="buttons0">
                            <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage1')">
                            <input style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                                   ng-click="tracks.audio1_s6.paused ? tracks.audio1_s6.play() : tracks.audio1_s6.pause(); src = tracks.audio1_s6.paused ? 'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
                            <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage3')">
                        </div>
                    </div>
                    <!--Story 5 - story3_1_s6 -->

                    <div class="animate-switch position story3_1_s6" ng-switch-when="stage3">
                        <div class="dialog_box">
                            <p class="dialog_box_text1">
                                Penduduk kampung cuba menahan serangan ikan todak.

                            </p>
                        </div>
                        <div class="buttons0">
                            <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage2')">
                            <input style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                                   ng-click="tracks.audio2_s6.paused ? tracks.audio2_s6.play() : tracks.audio2_s6.pause(); src = tracks.audio2_s6.paused ? 'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
                            <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage3a')">
                        </div>
                    </div>
                    <!--Story 3 - story4_1_s6-->

                    <div class="animate-switch position story4_1_s6" ng-switch-when="stage3a">
                        <div class="dialog_box">
                            <p class="dialog_box_text1">
                                Ada yang
                                <strong style="color: red">berparang</strong> .
                            </p>
                        </div>
                        <div class="buttons0">
                            <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage3')">
                            <input style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                                   ng-click="tracks.audio3_s6.paused ? tracks.audio3_s6.play() : tracks.audio3_s6.pause(); src = tracks.audio3_s6.paused ? 'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
                            <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage4')">
                        </div>
                    </div>

                    <!--Story 5 - story5_1_s6 -->

                    <div class="animate-switch position story5_1_s6" ng-switch-when="stage4">
                        <div class="dialog_box">
                            <p class="dialog_box_text1">
                                Ada yang <strong style="color: red">bertombak</strong>.

                            </p>
                        </div>
                        <div class="buttons0">
                            <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage3a')">
                            <input style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                                   ng-click="tracks.audio4_s6.paused ? tracks.audio4_s6.play() : tracks.audio4_s6.pause(); src = tracks.audio4_s6.paused ? 'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
                            <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage5')">
                        </div>
                    </div>

                    <!--Story 5 - story6_1_s6-->

                    <div class="animate-switch position story6_1_s6" ng-switch-when="stage5">
                        <div class="dialog_box">
                            <p class="dialog_box_text1">
                                Ada juga yang menggunakan dayung.

                            </p>
                        </div>
                        <div class="buttons0">
                            <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage4')">
                            <input style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                                   ng-click="tracks.audio5_s6.paused ? tracks.audio5_s6.play() : tracks.audio5_s6.pause(); src = tracks.audio5_s6.paused ? 'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
                            <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage6')">
                        </div>
                    </div>

                    <!--Story 3 - story7_1_s6-->

                    <div class="animate-switch position story7_1_s6" ng-switch-when="stage6">
                        <div class="dialog_box">
                            <p class="dialog_box_text1">
                                Ada juga yang <strong style="color: red">otak udang</strong> menahan dengan <strong style="color: red">betis</strong> mereka.

                            </p>
                        </div>
                        <div class="buttons0">
                            <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage5')">
                            <input style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                                   ng-click="tracks.audio6_s6.paused ? tracks.audio6_s6.play() : tracks.audio6_s6.pause(); src = tracks.audio6_s6.paused ? 'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
                            <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage7')">
                        </div>
                    </div>

                    <!--Story 3 - story8_1_s6-->

                    <div class="animate-switch position story8_1_s6" ng-switch-when="stage7">
                        <div class="dialog_box">
                            <p class="dialog_box_text1">
                                Ramai juga orang kampung yang mati.


                            </p>
                        </div>
                        <div class="buttons0">
                            <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage6')">
                            <input style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                                   ng-click="tracks.audio7_s6.paused ? tracks.audio7_s6.play() : tracks.audio7_s6.pause(); src = tracks.audio7_s6.paused ? 'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
                            <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage8')">
                        </div>
                    </div>

                    <!--Story 3 - story9_1_s6-->

                    <div class="animate-switch position story9_1_s6" ng-switch-when="stage8">
                        <div class="dialog_box">
                            <p class="dialog_box_text1">
                                Raja dan pembesar negeri dengan segera pergi ke tepi pantai.

                            </p>
                        </div>
                        <div class="buttons0">
                            <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage7')">
                            <input style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                                   ng-click="tracks.audio8_s6.paused ? tracks.audio8_s6.play() : tracks.audio8_s6.pause(); src = tracks.audio7_s6.paused ? 'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
                            <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage9')">
                        </div>
                    </div>

                    <!--Story 3 - page 10-->

                    <div class="animate-switch position story10_1_s6" ng-switch-when="stage9">
                        <div class="dialog_box">
                            <p class="dialog_box_text1">
                                <strong style="color: red">Baginda</strong> dan pembesar negeri <strong style="color: red">mati akal</strong>. Sudah penat mereka berfikir. <br>
                                Mereka tidak tahu apa yang perlu dilakukan.

                                Dia mahu mencari jalan tengah dan menegakkan  .
                            </p>
                        </div>

                        <div class="buttons0">
                            <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage8')">
                            <input style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                                   ng-click="tracks.audio8_s6.paused ? tracks.audio8_s6.play() : tracks.audio8_s6.pause(); src = tracks.audio7_s6.paused ? 'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
                            <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage10')">
                        </div>
                    </div>

                    <!--Story 5 - story11_1_s6-->

                    <div class="animate-switch position story11_1_s6" ng-switch-when="stage10">
                        <div class="dialog_box">
                            <p class="dialog_box_text1">
                                “Kasihan, tetapi ini bukan caranya,” kata Hang Nadim di dalam hati.

                            </p>
                        </div>
                        <div class="buttons0">
                            <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage9')">
                            <input style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                                   ng-click="tracks.audio9_s6.paused ? tracks.audio9_s6.play() : tracks.audio9_s6.pause(); src = tracks.audio9_s6.paused ? 'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
                            <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage11')">
                        </div>
                    </div>


                    <!--Story 3 - page 12-->

                    <div class="animate-switch position story12_1_s6" ng-switch-when="stage11">
                        <div class="dialog_box">
                            <p class="dialog_box_text1">
                                “Ampun, Tuanku. Mengapa kita tidak menggunakan <strong style="color: red">batang</strong> pisang?<br>
                                Kalau kita  <strong style="color: red">berkubukan</strong> betis, pasti lebih ramai penduduk kampung yang akan mati,” <br>
                                kata Hang Nadim.

                        </div>
                        <div class="buttons0">
                            <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage10')">
                            <input style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                                   ng-click="tracks.audio10_s6.paused ? tracks.audio10_s6.play() : tracks.audio10_s6.pause(); src = tracks.audio10_s6.paused ? 'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
                            <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage12')">
                        </div>
                    </div>

                    <!--Story 3 - page 13-->

                    <div class="animate-switch position story13_1_s6" ng-switch-when="stage12">
                        <div class="dialog_box">
                            <p class="dialog_box_text1">
                                Baginda terpegun dengan <strong style="color: red">kebijaksanaan</strong> Hang Nadim.<br>
                                “Bijak! Baik sungguh <strong style="color: red">cadangan</strong> kamu anak kecil,”puji Raja.<br>
                                “Kamu memang  <strong style="color: red">tajam akal </strong>anak kecil. Siapakah nama kamu?” Tanya Raja.
                            </p>
                        </div>
                        <div class="buttons0">
                            <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage11')">
                            <input style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                                   ng-click="tracks.audio11_s6.paused ? tracks.audio11_s6.play() : tracks.audio11_s6.pause(); src = tracks.audio11_s6.paused ? 'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
                            <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage13')">
                        </div>
                    </div>
                    <!--Story 3 - page 14-->

                    <div class="animate-switch position story14_1_s6" ng-switch-when="stage13">
                        <div class="dialog_box">
                            <p class="dialog_box_text1">
                                “Nama hamba Hang Nadim, Tuanku!” Jawab Hang Nadim.<br>
                                “Pandai sungguh Hang Nadim.” Raja berasa gembira.
                            </p>
                        </div>
                        <div class="buttons0">
                            <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage12')">
                            <input style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                                   ng-click="tracks.audio12_s6.paused ? tracks.audio12_s6.play() : tracks.audio12_s6.pause(); src = tracks.audio12_s6.paused ? 'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
                            <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage14')">
                        </div>
                    </div>
                    <!--Story 3 - story15_1_s6-->

                    <div class="animate-switch position story15_1_s6" ng-switch-when="stage14">
                        <div class="dialog_box">
                            <p class="dialog_box_text1">
                                “Baiklah, Beta perintahkan kita <strong style="color: red">gunakan</strong> batang pisang sekarang juga!” Titah Raja.

                            </p>
                        </div>
                        <div class="buttons0">
                            <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage13')">
                            <input style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                                   ng-click="tracks.audio13_s6.paused ? tracks.audio13_s6.play() : tracks.audio13_s6.pause(); src = tracks.audio13_s6.paused ? 'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
                            <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage15')">
                        </div>
                    </div>

                    <!--Story 1 - story16_1_s6-->

                    <div class="animate-switch position story16_1_s6" ng-switch-when="stage15">
                        <div class="dialog_box">
                            <p class="dialog_box_text1">
                                Akhirnya, Singapura dapat diselamatkan daripada serangan todak oleh anak kecil yang bernama Hang Nadim.
                            </p>
                        </div>
                        <div class="buttons0">
                            <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage14')">
                            <input style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                                   ng-click="tracks.audio14_s6.paused ? tracks.audio14_s6.play() : tracks.audio14_s6.pause(); src = tracks.audio14_s6.paused ? 'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
                            <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage16')">
                        </div>
                    </div>

                    <!--Story 3 - story17_1_s6-->
                    <div class="animate-switch position story17_1_s6" ng-switch-when="stage16">
                        <div class="dialog_box">
                            <p class="dialog_box_text1">
                                Akhirnya, Singapura dapat diselamatkan daripada serangan todak oleh anak kecil yang bernama Hang Nadim.
                            </p>
                        </div>
                        <div class="buttons0">
                            <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage15')">
                            <input style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                                   ng-click="tracks.audio15_s6.paused ? tracks.audio15_s6.play() : tracks.audio15_s6.pause(); src = tracks.audio15_s6.paused ? 'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
                            <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage17')">
                        </div>
                    </div>
                    <!--Story 3 - story17_1_s6-->
                    <div class="animate-switch position story18_1_s6" ng-switch-when="stage17">
                        <div class="dialog_box">
                            <p class="dialog_box_text1">
                                Akhirnya, Singapura dapat diselamatkan daripada serangan todak oleh anak kecil yang bernama Hang Nadim.
                            </p>
                        </div>
                        <div class="buttons0">
                            <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage16')">
                            <input style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                                   ng-click="tracks.audio16_s6.paused ? tracks.audio16_s6.play() : tracks.audio16_s6.pause(); src = tracks.audio16_s6.paused ? 'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
                            <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage18')">
                        </div>
                    </div>
<!--Story 3 - story17_1_s6-->
                    <div class="animate-switch position story19_1_s6" ng-switch-when="stage18">
                        <div class="dialog_box">
                            <p class="dialog_box_text1">
                                Akhirnya, Singapura dapat diselamatkan daripada serangan todak oleh anak kecil yang bernama Hang Nadim.
                            </p>
                        </div>
                        <div class="buttons0">
                            <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage17')">
                            <input style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                                   ng-click="tracks.audio17_s6.paused ? tracks.audio17_s6.play() : tracks.audio17_s6.pause(); src = tracks.audio17_s6.paused ? 'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
                            <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage19')">
                        </div>
                    </div>

                    <!--Story 3 - story17_1_s6-->

                    <div class="animate-switch position story20_1_s6" ng-switch-when="stage19">
                        <div class="game_box_s6">
                            <div class="game_box_button_s6">
                                <p class="game_box_button_text_s6">KOSA KATA</p>
                            </div>
                            <div class="game_box_button_s6">
                                <p class="game_box_button_text_s6">PERIBAHASA</p>
                            </div>
                            <div class="game_box_button_s6">
                                <p class="game_box_button_text_s6">KEFAHAMAN</p>
                            </div>
                            <div class="game_box_button_s6">
                                <p class="game_box_button_text_s6">PANTUN</p>
                            </div>
                        </div>


                        <div class="buttons0">
                            <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage18')">
                            <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage20')">
                        </div>
                    </div>
                    <div class="animate-switch position story20_1_s6" ng-switch-when="stage20">
                        <div class="bg_poems_s6">
                            <p style="text-align: center">Pantun</p>
                            <input class="bg_poems_button_s6" style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                                   ng-click="poems[0].poem1_au.paused ? poems[0].poem1_au.play() : poems[0].poem1_au.pause(); poems[0].showContent = true; src = poems[0].poem1_au.paused ?
                     'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
                            <p ng-if="poems[0].showContent" class="bg_poems_text1_s6">
                                {{poems[0].poem_cont}}
                            </p>

                            <input class="bg_poems_button_s6" ng-if="poems[0].showContent" style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                                   ng-click="poems[1].poem1_au.paused ? poems[1].poem1_au.play() : poems[1].poem1_au.pause(); poems[1].showContent = true; src = poems[1].poem1_au.paused ?
                     'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
                            <p ng-if="poems[1].showContent" class="bg_poems_text1_s6">
                                {{poems[1].poem_cont}}
                            </p>

                            <input class="bg_poems_button_s6" ng-if="poems[1].showContent" style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                                   ng-click="poems[2].poem1_au.paused ? poems[2].poem1_au.play() : poems[2].poem1_au.pause();  poems[2].showContent = true; src = poems[2].poem1_au.paused ?
                     'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
                            <p ng-if="poems[2].showContent" class="bg_poems_text1_s6">
                                {{poems[2].poem_cont}}
                            </p>

                        </div>

                        <div class="buttons0">
                            <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage19')">
                            <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage1')">
                        </div>
                    </div>


                </div>
            </form>
        </div>
    </div>
</ion-view>

