<ion-view>
  <!--<ion-content scroll="false" class="bagHomePage_R" padding="true">-->
  <div class="container">
    <div class="box_story_1">
      <form name="multiStepForm" class="form-validation" role="form" novalidate>
        <div class="animate-switch-container" ng-switch on="stage" ng-class="{forward: direction, backward:!direction}">
          <!--Story 1 - page 0-->
          <div class="animate-switch position story0_s2" ng-switch-default>
            <div class="buttons0">
              <button type="button" class="btn buttons1 " ng-click="next('stage1')">Start</button>
            </div>
          </div>
          <!--Story 1 - page 1-->
          <div class="animate-switch position story1_1_s2"  ng-switch-when="stage1">
            <div class="text_frame1">
              <p>Mawar</p>
            </div>
            <div class="text_frame2">
              <p>Melur</p>
            </div>
            <div class="buttons0">
              <button type="button" class="btn  buttons1" ng-click="back('')">Back</button>
              <button type="button" class="btn  buttons2" ng-click="next('stage2')">Next</button>
            </div>
          </div>

          <!--Story 1 - page 2-->

          <div class="animate-switch position story2_1_s2"  ng-switch-when="stage2">
            <div class="dialog_box_sc_2">
              <p class="dialog_box_text1">
                Mulakan Cerita

              </p>
            </div>
            <div class="buttons0">
              <button type="button" class="btn buttons1" ng-click="back('stage1')">Back</button>
              <button type="button" class="btn buttons2" ng-click="next('stage3')">Next</button>
            </div>
          </div>
          <!--Story 1 - page 3-->

          <div class="animate-switch position story3_1_s2"  ng-switch-when="stage3">
            <div class="dialog_box">
              <p class="dialog_box_text1">
                Mawar dan Melur
                <strong style="color: red">bersaudara.</strong>

              </p>
            </div>
            <div class="buttons0">
              <button type="button" class="btn buttons1" ng-click="back('stage2')">Back</button>
              <button type="button" class="btn buttons2" ng-click="next('stage3a')">Next</button>
            </div>
          </div>
          <!--Story 1 - page 4-->

          <div class="animate-switch position story4_1_s2" ng-switch-when="stage3a">
            <div class="dialog_box">
              <p class="dialog_box_text1">
                Ibu dan ayah mereka sudah lama meninggal dunia.<br>
                Mereka sangat   <strong style="color: red">rapat</strong>
                dan tidak pernah berasa kecil hati sesama mereka.
              </p>
            </div>
            <div class="buttons0">
              <button type="button" class="btn buttons1" ng-click="back('stage3')">Back</button>
              <button type="button" class="btn buttons2" ng-click="next('stage4')">Next</button>
            </div>
          </div>

          <!--Story 1 - page 5-->

          <div class="animate-switch position story5_1_s2" ng-switch-when="stage4">
            <div class="dialog_box">
              <p class="dialog_box_text1">
                Pada suatu hari, mereka telah dikejar sekumpulan <strong style="color: red">lanun</strong>.<br>
                Mereka berlari dengan pantas.
              </p>
            </div>
            <div class="buttons0">
              <button type="button" class="btn buttons1" ng-click="back('stage3a')">Back</button>
              <button type="button" class="btn buttons2" ng-click="next('stage5')">Next</button>
            </div>
          </div>

          <!--Story 1 - page 6-->

          <div class="animate-switch position story6_1_s2" ng-switch-when="stage5">
            <div class="dialog_box">
              <p class="dialog_box_text1">
                Mawar dan Melur tidak dapat melarikan diri.
              </p>
            </div>
            <div class="buttons0">
              <button type="button" class="btn buttons1" ng-click="back('stage4')">Back</button>
              <button type="button" class="btn buttons2" ng-click="next('stage6')">Next</button>
            </div>
          </div>

          <!--Story 1 - page 7-->

          <div class="animate-switch position story7_1_s2" ng-switch-when="stage6">
            <div class="dialog_box">
              <p class="dialog_box_text1">
                “Tangkap perempuan itu!” kata ketua lanun yang  <strong style="color: red">muka tembok</strong>.
              </p>
            </div>
            <div class="buttons0">
              <button type="button" class="btn buttons1" ng-click="back('stage5')">Back</button>
              <button type="button" class="btn buttons2" ng-click="next('stage7')">Next</button>
            </div>
          </div>

          <!--Story 1 - page 8-->

          <div class="animate-switch position story8_1_s2" ng-switch-when="stage7">
            <div class="dialog_box">
              <p class="dialog_box_text1">
                Melur telah dibawa pergi sekumpulan lanun. “Kakak tolong Melur!”
                “Tolong Melur, Kakak!” Jerit Melur meminta tolong.
              </p>
            </div>
            <div class="buttons0">
              <button type="button" class="btn buttons1" ng-click="back('stage6')">Back</button>
              <button type="button" class="btn buttons2" ng-click="next('stage8')">Next</button>
            </div>
          </div>

          <!--Story 1 - page 9-->

          <div class="animate-switch position story9_1_s2" ng-switch-when="stage8">
            <div class="dialog_box">
              <p class="dialog_box_text1">
                Mawar dengan <strong style="color: red">berani mengikut</strong>  mereka dari belakang.
              </p>
            </div>
            <div class="buttons0">
              <button type="button" class="btn buttons1" ng-click="back('stage7')">Back</button>
              <button type="button" class="btn buttons2" ng-click="next('stage9')">Next</button>
            </div>
          </div>

          <!--Story 1 - page 10-->

          <div class="animate-switch position story10_1_s2" ng-switch-when="stage9">
            <div class="dialog_box">
              <p class="dialog_box_text1">
                Mawar juga turut <strong style="color: red">mendayung</strong>  mengikut lanun-lanun tersebut.
                “Aku mesti selamatkan adikku. Aku mesti selamatkan Melur.” kata Mawar yang keras hati.

              </p>
            </div>
            <div class="buttons0">
              <button type="button" class="btn buttons1" ng-click="back('stage8')">Back</button>
              <button type="button" class="btn buttons2" ng-click="next('stage10')">Next</button>
            </div>
          </div>

          <!--Story 1 - page 11-->

          <div class="animate-switch position story11_1_s2" ng-switch-when="stage10">
            <div class="dialog_box">
              <p class="dialog_box_text1">
                Sewaktu berada di tengah laut, Melur ternampak kakaknya sedang mendayung
                <strong style="color: red">sampan</strong>.<br>
                Dia mahu menyelamatkan diri.
              </p>
            </div>
            <div class="buttons0">
              <button type="button" class="btn buttons1" ng-click="back('stage9')">Back</button>
              <button type="button" class="btn buttons2" ng-click="next('stage11')">Next</button>
            </div>
          </div>


          <!--Story 1 - page 12-->

          <div class="animate-switch position story12_1_s2" ng-switch-when="stage11">
            <div class="dialog_box">
              <p class="dialog_box_text1">
                “Aku mesti selamatkan diri!” kata Melur bersungguh-sungguh.
                Dengan pantas, Melur terjun ke laut untuk melepaskan diri.
              </p>
            </div>
            <div class="buttons0">
              <button type="button" class="btn buttons1" ng-click="back('stage10')">Back</button>
              <button type="button" class="btn buttons2" ng-click="next('stage12')">Next</button>
            </div>
          </div>

          <!--Story 1 - page 13-->

          <div class="animate-switch position story13_1_s2" ng-switch-when="stage12">
            <div class="dialog_box">
              <p class="dialog_box_text1">
                Mawar tahu adiknya Melur tidak pandai berenang.
                Dengan segera, Mawar pun terjun ke laut.

              </p>
            </div>
            <div class="buttons0">
              <button type="button" class="btn buttons1" ng-click="back('stage11')">Back</button>
              <button type="button" class="btn buttons2" ng-click="next('stage13')">Next</button>
            </div>
          </div>
          <!--Story 1 - page 14-->

          <div class="animate-switch position story14_1_s2" ng-switch-when="stage13">
            <div class="dialog_box">
              <p class="dialog_box_text1">
                Mawar dan Melur tidak pernah <strong style="color: red">timbul</strong>.
              </p>
            </div>
            <div class="buttons0">
              <button type="button" class="btn buttons1" ng-click="back('stage12')">Back</button>
              <button type="button" class="btn buttons2" ng-click="next('stage14')">Next</button>
            </div>
          </div>
          <!--Story 1 - page 15-->

          <div class="animate-switch position story15_1_s2" ng-switch-when="stage14">
            <div class="dialog_box">
              <p class="dialog_box_text1">
                Tempat di mana kejadian itu berlaku kononnya telah menjadi dua buah pulau.
              </p>
            </div>
            <div class="buttons0">
              <button type="button" class="btn buttons1" ng-click="back('stage13')">Back</button>
              <button type="button" class="btn buttons2" ng-click="next('stage15')">Next</button>
            </div>
          </div>

          <!--Story 1 - page 16-->

          <div class="animate-switch position story16_1_s2" ng-switch-when="stage15">
            <div class="dialog_box">
              <p class="dialog_box_text1">
                Tempat itu kini dikenali sebagai Pulau Bersaudara, Pulau Subar Laut dan Pulau Subar Darat.

              </p>
            </div>
            <div class="buttons0">
              <button type="button" class="btn buttons1" ng-click="back('stage14')">Back</button>
              <button type="button" class="btn buttons2" ng-click="next('stage16')">Next</button>
            </div>
          </div>

          <!--Story 1 - page 16-->

          <div class="animate-switch position story17_1_s2" ng-switch-when="stage16">
            <div class="game_box">
              <div class="game_box_button">
                <p class="game_box_button_text">KOSA KATA</p>
              </div>
              <div class="game_box_button">
                <p class="game_box_button_text">PERIBAHASA</p>
              </div>
              <div class="game_box_button">
                <p class="game_box_button_text">KEFAHAMAN</p>
              </div>
              <div class="game_box_button">
                <p class="game_box_button_text">PANTUN</p>
              </div>
            </div>


            <div class="buttons0">
              <button type="button" class="btn buttons1" ng-click="back('stage15')">Back</button>
              <button type="button" class="btn buttons2" ng-click="next('stage17')">Next</button>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
</ion-view>

