<ion-view>

	<ion-content scroll="false" class="memory-game memory-game-difficult">
<div>story 2</div>


    <video autoplay loop class="video">
      <source src="video/polina.mp4" type='video/mp4' >
      <source src="video/polina.webm" type="video/webm">
    </video>
    <div class="logo">
      <h1>Forest</h1>
    </div>
    <div class="row button-group">
      <div class="col-50"><button class="button">Log in</button></div>
      <div class="col-50"><button class="button">Sign up</button></div>
    </div>




	</ion-content>

</ion-view>
