

<ion-view>
  <ion-content class="padding">


    <div class="row">
      <div class="col">
        <button class="button button-block button-balanced icon-left " onclick="media.startRecord()">Record</button>
      </div>
      <div class="col">
        <button class="button button-block button-balanced" onclick="media.play()" >Play</button>

      </div> <div class="col">
      <button class="button button-block button-balanced" onclick="media.stopRecord()" >stop</button>
    </div>
    </div>



  </ion-content>
</ion-view>




