
<ion-view>

      <form name="multiStepForm" class="form-validation" role="form" novalidate>
        <div class="animate-switch-container" ng-switch on="stage" ng-class="{forward: direction, backward:!direction}">
          <div class="animate-switch game_start_story" ng-switch-default>
            <div class="dialog_box_game_start">
              <p class="dialog_box_text1">
                Ayuh! Kita selamatkan bahtera ini daripada tenggelam.<br>
                Eja dengan tepat. Campakkan ke laut!<br>
                Jangan putus asa jika tersalah eja! Eja lagi.
              </p>
            </div>


            <div class="buttonStartGameBox">
              <button type="button" class="buttonStartGame" ng-click="next('stage1')">Mula</button>
            </div>
          </div>
          <div class="animate-switch game_background_story_one" ng-switch-when="stage1">
            <div class="draggableContainer" >
              <div  ng-repeat="obj in draggableObjects | orderBy:'_order'">
                <div ng-drag="true" class=" draggable" ng-drag-data="obj" data-allow-transform="true">
                  <div class="box_name_game_drag">{{obj.name}}</div>
                </div>
              </div>
            </div>

            <div class="droppableContainer" >
            <div  ng-repeat="obj in droppedObjects1" class="droppable" ng-drop="true" ng-drop-success="onDropComplete1($index, $data,$event)">
              <div class="box_name_game_drop">{{obj.name}}</div>
            </div>
            </div>



            <div class="dialog_box_game_one">
              <p class="dialog_box_text1">
                air laut yang berombak hebat
              </p>
            </div>
            </div>
            <!--<button type="button" class="btn btn-info" ng-click="back('')" style="margin-top: 100px">Back</button>-->
            <!--<button type="button" class="btn btn-primary" ng-click="next('stage2')" style="margin-top: 100px">Next</button>-->
          </div>

        </div>
      </form>

</ion-view>


