<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>ionic LegendSingapore</title>
    <!-- compiled css output -->
    <link href="lib/ionicons-2.0.1/css/ionicons.css" rel="stylesheet">
    <link href="css/ionic.app.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">


    <!-- compiled css -->
    <link href="templates/home/homePage.css" rel="stylesheet">
    <link href="templates/story1/storyOne.css" rel="stylesheet">
    <link href="templates/story2/storyTwo.css" rel="stylesheet">
    <link href="templates/story3/storyThree.css" rel="stylesheet">
    <link href="templates/story4/storyFour.css" rel="stylesheet">
    <link href="templates/story5/storyFive.css" rel="stylesheet">
    <link href="templates/story6/storySix.css" rel="stylesheet">

    <link href="templates/story1/videoStoryOneRecordVoice/story1.css" rel="stylesheet">


    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/angular-ui-ace/ui-ace.min.js"></script>
    <script src="lib/ngCordova/ng-cordova.js"></script>
    <script src="lib/angular-audio/app/angular.audio.js"></script>
    <script src="lib/angular-video-background/src/video-background.module.js"></script>





    <!-- cordova script (this will be a 404 during development) -->
    <!--<script src="cordova.js"></script>-->

    <!-- your app's js -->
    <script src="app.js"></script>
  </head>




  <body ng-app="LegendSingapore" ng-controller="HomeController">

  <input class="myButtonMap" type="image" src="templates/home/img/btn/map.png" ng-click="goHome()"/>

  <input class="myButtonInfo" type="image" src="templates/home/img/btn/information.png" ng-click="modal.show()"/>

  <input type="image" ng-init="src = 'templates/home/img/btn/Audio.png'" ng-src="{{src}}" class="myButtonVoice" ng-class="track.paused ? 'ion-android-volume-off' : 'ion-android-volume-up'" ng-click="track.paused ? track.play() : track.pause(); src = track.paused ? 'templates/home/img/btn/Audio.png' : 'templates/home/img/btn/mute.png'">







      <ion-nav-view>

    </ion-nav-view>

    <script src="templates/home/homeController.js"></script>
    <script src="templates/info/infoController.js"></script>
    <script src="templates/story1/storyOneController.js"></script>
    <script src="templates/story2/storyTwoController.js"></script>
    <script src="templates/story3/storyThreeController.js"></script>
    <script src="templates/story4/storyFourController.js"></script>
    <script src="templates/story5/storyFiveController.js"></script>
    <script src="templates/story6/storySixController.js"></script>
    <script src="templates/story1/videoStoryOneRecordVoice/videoStoryOneRecordVoiceController.js"></script>


  </body>
</html>
