/*story 1*/
.box_story_1, .animate-switch, .animate-switch-container {
    min-height: 320px;
    height:100%;
    width:100%;
}

.buttons0 {
    margin-top: 8%;
    float: left;
    width: 100%;
    position: absolute;
    bottom: 5px;

}

.buttons1 {
    background: transparent;
    border: none;
    float: left;
    width: 12%;
    position: absolute;
    bottom: 5px;
}
.buttons1:hover, .buttons2:hover {
    color: #ffffff;
    cursor: pointer;
}
.buttons2 {
    background: transparent;
    border: none;
    float: right;
    width: 12%;
}
.buttons01 {
    position: absolute;
    margin-top: 302px;
    margin-left: -15px;
    float: left;
    width: 90%;
}

.position {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: 50%;
    background-size: cover;
}
.story0 {

    background-image: url(image/s1_SN07_R03.jpg);
}
.story1_1 {

    background-image: url(image/s1-SN0.jpg);
}
.story2_1 {

    background-image: url(image/s1_SN1_R05.jpg);
}
.story3_1 {

    background-image: url(image/s1_SN3_R01.jpg);
}
.story4_1 {

    background-image: url(image/s1_SN3_R01.jpg);
}
.story5_1 {

    background-image: url(image/s1_SN02_R04.jpg);
}
.story6_1 {

    background-image: url(image/s1_SN4_R03.jpg);
}
.story7_1 {

    background-image: url(image/s1_SN05_R04.jpg);
}

.story8_1 {

    background-image: url(image/s1_SN06_R04.jpg);
}
.story9_1 {

    background-image: url(image/s1_SN07_R03.jpg);
}
.story9_1 {

    background-image: url(image/s1_SN08_R03.jpg);
}
.story10_1 {

    background-image: url(image/s1_SN09_R02.jpg);
}
.story11_1 {

    background-image: url(image/s1_SN10_R04.jpg);
}
.story12_1 {

    background-image: url(image/s1_SN11_R04.jpg);
}
.story13_1 {

    background-image: url(image/s1_SN12_R01.jpg);
}
.story14_1 {

    background-image: url(image/s1_SN13.jpg);
}
.story15_1 {

    background-image: url(image/s1_SN14_R01.jpg);
}
.text_frame1 {
    width: 129px;
    margin-top: 200px;
    margin-left: 40px;
    font-size: 12px;
    padding: 11px 17px;
    height: 44px;
    float: left;
    background-size: 100% 100%;
    background-image: url(image/bg_text.png);
}
.dialog_box {
    width: 100%;
    font-size: 12px;
    padding: 5px 17px;
    position: absolute;
    bottom: 0;
    height: 80px;
    float: left;
    background-size: 100% 100%;
    background-image: url(image/bg_dialog.png);
}
p.dialog_box_text1 {
    padding-top: 10px;
    text-align: center;
    margin: 0;
}
p.dialog_box_text2 {
    padding-top: 0;
    padding-left: 10px;
    margin: 0;
}

.text_frame1:hover, .text_frame2:hover {
    color: #FFFFFF;
    cursor: pointer;
}
.text_dialog_box {

}
.text_frame2 {
    position: absolute;
    width: 129px;
    margin-top: 200px;
    float: left;
    font-size: 12px;
    margin-left: 72%;
    padding: 11px 36px;
    height: 44px;
    background-size: 100% 100%;
    background-image: url(image/bg_text.png);

}

/*---------Games options--------*/
.bg_poems_s1 {
    width: 71%;
    font-size: 12px;
    padding: 54px 17px;
    position: absolute;
    bottom: 29px;
    height: 300px;
    margin-left: 15%;
    float: left;
    background-size: 100% 100%;
    background-image: url(image/bg_dialog.png);
}

.bg_poems_text1_s1 {
    color: #262626;
    padding-top: 3px;
    text-align: left;
    font-weight: bold;
}
.bg_poems_button_s1 {
    width: 50px;
    float: left;
}
/*.dialog_box {*/
    /*width: 100%;*/
    /*font-size: 12px;*/
    /*padding: 5px 17px;*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*height: 80px;*/
    /*float: left;*/
    /*background-size: 100% 100%;*/
    /*background-image: url(image/bg_dialog.png);*/
/*}*/
.comprehension_box_s1 {
    width: 80%;
    font-size: 12px;
    padding: 35px 90px;
    position: absolute;
    bottom: 70px;
    height: 240px;
    text-align: left;
    margin-left: 10%;
    background-size: 100% 100%;
    background-image: url(image/bg_dialog.png);
}
.comprehension_text1_s1 {
    color: #262626;
    padding-top: 3px;
    text-align: left;
    font-weight: bold;
    float: left;
}
.comprehension_button_s1 {
    width: 50px;
    float: left;
}
input.comprehension_box_voice_s1 {
    width: 50px;
    margin-left: -14%;
    float: left;
}
.comprehension_box_title_s1 {
    padding-top: 14px;
    font-size: medium;
    font-weight: bold;
}
