<ion-view>
  <!--<ion-content scroll="false" class="bagHomePage_R" padding="true">-->
  <div class="container">
    <div class="box_story_3">
      <form name="multiStepForm" class="form-validation" role="form" novalidate>
        <div class="animate-switch-container" ng-switch on="stage" ng-class="{forward: direction, backward:!direction}">
          <!--Story 3 - page title-->
          <div class="animate-switch position story0_s3" ng-switch-default>
            <div class="title_s3">
            </div>
            <div class="buttons0">
              <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage1')">

            </div>
          </div>
          <!--Story 3 - story1_1_s3 --- page intro-->
          <div class="animate-switch position story1_1_s3"  ng-switch-when="stage1">
            <div class="text_frame1_s3" ng-click="tracks.audioIntro1_s3.play()">
              <p>Radin Mas</p>
            </div>
            <div class="text_frame2_s3" ng-click="tracks.audioIntro2_s3.play()">
              <p>Pangeran Agung
              </p>
            </div>
            <div class="text_frame3_s3" ng-click="tracks.audioIntro3_s3.play()">
              <p>Tengku Cik</p>
            </div>
            <div class="text_frame4_s3" ng-click="tracks.audioIntro4_s3.play()">
              <p>Tengku Bagus</p>
            </div>

            <div class="buttons0">
              <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('')">
              <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage2')">
            </div>
          </div>

          <!--Story 3 - story2_1_s3 -Mulakan Cerita---->

          <div class="animate-switch position story2_1_s3"  ng-switch-when="stage2">
            <div class="dialog_box_sc_3">
              <p class="dialog_box_text1">
                Mulakan Cerita

              </p>
            </div>
            <div class="buttons0">
              <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage1')">
              <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage3')">
            </div>
          </div>
          <!--Story 3 - story3_1_s3 -->

          <div class="animate-switch position story3_1_s3"  ng-switch-when="stage3">
            <div class="dialog_box">
              <p class="dialog_box_text1">
                Radin Mas berasa <strong style="color: red">sedih</strong>.
              </p>
            </div>
            <div class="buttons0">
              <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage2')">
              <input style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                     ng-click="tracks.audio1_s3.paused ? tracks.audio1_s3.play() : tracks.audio1_s3.pause(); src = tracks.audio1_s3.paused ? 'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
              <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage3a')">
            </div>
          </div>
          <!--Story 3 - story4_1_s3-->

          <div class="animate-switch position story4_1_s3" ng-switch-when="stage3a">
            <div class="dialog_box">
              <p class="dialog_box_text1">
                Ayahanda, Pangeran Agung, telah lama hilang entah ke mana.<br>
                Radin Mas ialah <strong style="color: red">anak emas</strong> kepada Pangeran Agung.
                            </p>
            </div>
            <div class="buttons0">
              <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage2')">
              <input style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                     ng-click="tracks.audio2_s3.paused ? tracks.audio2_s3.play() : tracks.audio2_s3.pause(); src = tracks.audio2_s3.paused ? 'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
              <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage4')">
            </div>
          </div>

          <!--Story 3 - story5_1_s3 -->

          <div class="animate-switch position story5_1_s3" ng-switch-when="stage4">
            <div class="dialog_box">
              <p class="dialog_box_text1">
                “Apalah nasibku ini. Ayahanda telah hilang. Aku  <strong style="color: red">dipaksa</strong><br>
                ibu tiri untuk berkahwin dengan Tengku Bagus.” Kata Radin Mas.<br>
                Tiba-tiba…
              </p>
            </div>
            <div class="buttons0">
              <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage3a')">
              <input style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                     ng-click="tracks.audio3_s3.paused ? tracks.audio3_s3.play() : tracks.audio3_s3.pause(); src = tracks.audio3_s3.paused ? 'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
              <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage5')">
            </div>
          </div>

          <!--Story 3 - story6_1_s3-->

          <div class="animate-switch position story6_1_s3" ng-switch-when="stage5">
            <div class="dialog_box">
              <p class="dialog_box_text1">
                “Mari ikut Tengku Cik. Tengku Cik tahu di mana Ayahanda.” <br>
                Kata Tengku Cik yang <strong style="color: red">berkaki ayam</strong>.

              </p>
            </div>
            <div class="buttons0">
              <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage4')">
              <input style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                     ng-click="tracks.audio4_s3.paused ? tracks.audio4_s3.play() : tracks.audio4_s3.pause(); src = tracks.audio4_s3.paused ? 'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
              <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage6')">
            </div>
          </div>

          <!--Story 3 - story7_1_s3-->

          <div class="animate-switch position story7_1_s3" ng-switch-when="stage6">
            <div class="dialog_box">
              <p class="dialog_box_text1">
                Radin Mas berasa sedih melihat keadaan ayahanda berada dalam <strong style="color: red">kurungan</strong>.

              </p>
            </div>
            <div class="buttons0">
              <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage5')">
              <input style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                     ng-click="tracks.audio5_s3.paused ? tracks.audio5_s3.play() : tracks.audio5_s3.pause(); src = tracks.audio5_s3.paused ? 'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
              <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage7')">
            </div>
          </div>

          <!--Story 3 - story8_1_s3-->

          <div class="animate-switch position story8_1_s3" ng-switch-when="stage7">
            <div class="dialog_box">
              <p class="dialog_box_text1">
                Keesokan harinya, Radin Mas meminta <strong style="color: red">bantuan</strong> kawan-kawan ayahandanya.

              </p>
            </div>
            <div class="buttons0">
              <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage6')">
              <input style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                     ng-click="tracks.audio6_s3.paused ? tracks.audio6_s3.play() : tracks.audio6_s3.pause(); src = tracks.audio6_s3.paused ? 'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
              <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage8')">
            </div>
          </div>

          <!--Story 3 - story9_1_s3-->

          <div class="animate-switch position story9_1_s3" ng-switch-when="stage8">
            <div class="dialog_box">
              <p class="dialog_box_text1">
                Pangeran Agung berjaya diselamatkan.
              </p>
            </div>
            <div class="buttons0">
              <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage7')">
              <input style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                     ng-click="tracks.audio7_s3.paused ? tracks.audio7_s3.play() : tracks.audio7_s3.pause(); src = tracks.audio7_s3.paused ? 'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
              <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage9')">
            </div>
          </div>

          <!--Story 3 - page 10-->

          <div class="animate-switch position story10_1_s3" ng-switch-when="stage9">
            <div class="dialog_box">
              <p class="dialog_box_text1">
                Tanpa berlengah-lengah lagi, Pangeran Agung pun segera mencari Tengku Bagus.<br>
                Dia mahu mencari jalan tengah dan menegakkan <strong style="color: red">keadilan</strong> .
              </p>
            </div>
            <div class="buttons0">
              <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage8')">
              <input style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                     ng-click="tracks.audio8_s3.paused ? tracks.audio8_s3.play() : tracks.audio8_s3.pause(); src = tracks.audio8_s3.paused ? 'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
              <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage10')">
            </div>
          </div>

          <!--Story 3 - story11_1_s3-->

          <div class="animate-switch position story11_1_s3" ng-switch-when="stage10">
            <div class="dialog_box">
              <p class="dialog_box_text1">
                Melihat Pangeran Agung datang, Tengku Bagus terus
                <strong style="color: red">menikam</strong> Pangeran Agung.

              </p>
            </div>
            <div class="buttons0">
              <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage9')">
              <input style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                     ng-click="tracks.audio9_s3.paused ? tracks.audio9_s3.play() : tracks.audio9_s3.pause(); src = tracks.audio9_s3.paused ? 'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
              <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage11')">
            </div>
          </div>


          <!--Story 3 - page 12-->

          <div class="animate-switch position story12_1_s3" ng-switch-when="stage11">
            <div class="dialog_box">
              <p class="dialog_box_text1">
                “Ayahanda!” Jerit Radin Mas.
                Radin Mas dengan pantas cuba <strong style="color: red">menghadang</strong>nya.
              </p>
            </div>
            <div class="buttons0">
              <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage10')">
              <input style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                     ng-click="tracks.audio10_s3.paused ? tracks.audio10_s3.play() : tracks.audio10_s3.pause(); src = tracks.audio10_s3.paused ? 'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
              <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage12')">
            </div>
          </div>

          <!--Story 3 - page 13-->

          <div class="animate-switch position story13_1_s3" ng-switch-when="stage12">
            <div class="dialog_box">
              <p class="dialog_box_text1">
                Tanpa Tengku Bagus sedari, dia telah<strong style="color: red">tertikam</strong> Radin Mas, bakal isterinya.


              </p>
            </div>
            <div class="buttons0">
              <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage11')">
              <input style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                     ng-click="tracks.audio11_s3.paused ? tracks.audio11_s3.play() : tracks.audio11_s3.pause(); src = tracks.audio11_s3.paused ? 'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
              <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage13')">
            </div>
          </div>
          <!--Story 3 - page 14-->

          <div class="animate-switch position story14_1_s3" ng-switch-when="stage13">
            <div class="dialog_box">
              <p class="dialog_box_text1">
                “Radin Mas!” jerit Tengku Bagus <strong style="color: red">menyesal</strong>.
                Radin Mas <strong style="color: red">rebah</strong>lalu mati.
              </p>
            </div>
            <div class="buttons0">
              <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage12')">
              <input style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                     ng-click="tracks.audio12_s3.paused ? tracks.audio12_s3.play() : tracks.audio12_s3.pause(); src = tracks.audio12_s3.paused ? 'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
              <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage14')">
            </div>
          </div>
          <!--Story 3 - story15_1_s3-->

          <div class="animate-switch position story15_1_s3" ng-switch-when="stage14">
            <div class="dialog_box">
              <p class="dialog_box_text1">
                Pangeran Agung berasa sedih atas kematian anaknya.
              </p>
            </div>
            <div class="buttons0">
              <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage13')">
              <input style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                     ng-click="tracks.audio13_s3.paused ? tracks.audio13_s3.play() : tracks.audio13_s3.pause(); src = tracks.audio13_s3.paused ? 'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
              <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage15')">
            </div>
          </div>

          <!--Story 1 - story16_1_s3-->

          <div class="animate-switch position story16_1_s3" ng-switch-when="stage15">
            <div class="dialog_box">
              <p class="dialog_box_text1">
                “Radin Mas, anakanda telah selamatkan ayahanda daripada ditikam. <br>
                Anakanda memang seorang anak yang <strong style="color: red">berjasa</strong> !” <br>
                Kata Pangeran Agung dengan sedih.

              </p>
            </div>
            <div class="buttons0">
              <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage14')">
              <input style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                     ng-click="tracks.audio14_s3.paused ? tracks.audio14_s3.play() : tracks.audio14_s3.pause(); src = tracks.audio14_s3.paused ? 'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
              <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage16')">
            </div>
          </div>

          <!--Story 3 - story17_1_s3-->

          <div class="animate-switch position story17_1_s3" ng-switch-when="stage16">
            <div class="game_box_s3">
              <div class="game_box_button_s3">
                <p class="game_box_button_text_s3">KOSA KATA</p>
              </div>
              <div class="game_box_button_s3">
                <p class="game_box_button_text_s3">PERIBAHASA</p>
              </div>
              <div class="game_box_button_s3">
                <p class="game_box_button_text_s3">KEFAHAMAN</p>
              </div>
              <div class="game_box_button_s3">
                <p class="game_box_button_text_s3">PANTUN</p>
              </div>
            </div>


            <div class="buttons0">
              <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage15')">
              <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage17')">
            </div>
          </div>



          <!--Story 3 - story18_1_s3-->

          <div class="animate-switch position story17_1_s3" ng-switch-when="stage17">


          <div class="bg_poems_3">
            <p style="text-align: center">Pantun</p>
            <input class="bg_poems_button_3" style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                   ng-click="poems[0].poem1_au.paused ? poems[0].poem1_au.play() : poems[0].poem1_au.pause(); poems[0].showContent = true; src = poems[0].poem1_au.paused ?
                     'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
            <p ng-if="poems[0].showContent" class="bg_poems_text1_3">
              {{poems[0].poem_cont}}
            </p>

            <input class="bg_poems_button_3" ng-if="poems[0].showContent" style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                   ng-click="poems[1].poem1_au.paused ? poems[1].poem1_au.play() : poems[1].poem1_au.pause(); poems[1].showContent = true; src = poems[1].poem1_au.paused ?
                     'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
            <p ng-if="poems[1].showContent" class="bg_poems_text1_3">
              {{poems[1].poem_cont}}
            </p>

            <input class="bg_poems_button_3" ng-if="poems[1].showContent" style="width: 50px; margin-left: 5%" type="image" ng-init="src = 'templates/home/img/btn/play button.png'" ng-src="{{src}}"
                   ng-click="poems[2].poem1_au.paused ? poems[2].poem1_au.play() : poems[2].poem1_au.pause();  poems[2].showContent = true; src = poems[2].poem1_au.paused ?
                     'templates/home/img/btn/play button.png' : 'templates/home/img/btn/pause button.png'">
            <p ng-if="poems[2].showContent" class="bg_poems_text1_3">
              {{poems[2].poem_cont}}
            </p>

          </div>

            <div class="buttons0">
              <input style="width: 50px" type="image" src = 'templates/home/img/btn/previous button.png' class="buttons1" ng-click="back('stage16')">
              <input style="width: 50px" type="image" class="buttons2" src = 'templates/home/img/btn/next button.png'  ng-click="next('stage1')">
            </div>
          </div>
</div>


        </div>
      </form>
    </div>
  </div>
</ion-view>

