.bagStory1Page{
  background: url(img/story1.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Btn1Story1{
  width: 100px;
  height: 40px;
  margin-left: 15%;
  margin-top: 30%;
}

.Btn2Story1,.Btn3Story1{
  margin-left: 15%;
  /*margin-top: 2%;*/
  width: 100px;
  height: 40px;
}


.videoStoryOne{
  width: 100%;
  margin-top: -12%;
}


.video-background{
  width: 100%;
}
